#titleBanner {
  background-color: tan;
  width: 80%;
  margin: auto;
  border: 5px solid;
  border-color: rgb(102, 30, 30);
  border-radius: 50px;
  position: relative;
  top: 200px;
}
/*THIS USED TO BE ID. IF YOU CHANGE IT AGAIN YOU NEED TO CHANGE IT EVERYWHERE*/
.gameTitleText {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 80px;
  color: rgb(69, 12, 12);
  text-shadow: -2px -2px gold, 0 0 1em rgb(250, 250, 250),
    0 0 0em rgb(201, 186, 186);
}

/*FIXED: for future reference, the body is NOT fullscreen by default.*/
html,
body {
  margin: 0;
  height: 100%;
  cursor: url("../assets/images/aimEDIT.png"), auto;
}

.buttons {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 200px;
  width: 100%;
}

.backButtons {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 200px;
  width: 100%;
}

button {
  padding: 10px 50px;
  background-color: transparent;
  border-style: hidden;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 100px;
  color: rgb(69, 12, 12);
  text-shadow: -2px -2px gold, 0 0 1em rgb(250, 250, 250),
    0 0 0em rgb(201, 186, 186);
}


#gameDiv {
  position: relative;
  width: 100%;
  height: 950px;
  border: 5px solid brown;
  border-radius: 10px;
  margin-bottom: 50px;
  top: 100px;
  bottom: 10px;
}

#lowerMenu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  border: 5px solid brown;
  background-color: tan;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#gameTitle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 80px;
  color: rgb(69, 12, 12);
  text-shadow: -2px -2px gold, 0 0 1em rgb(250, 250, 250),
    0 0 0em rgb(201, 186, 186);
}

.leftEnemy{
  position: fixed;
  left: -130px;
}

.rightEnemy{
  position: fixed;
  right: -130px;
}

.bg::before{
  content: '';
  background-image: url('assets/images/background1.jpg');
  z-index: -1;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  background-repeat: none;
  width: 100vw;
  height: 100vh;
}