
#titleBanner {
    background-color: tan;
    width: 80%;
    margin: auto;
    border: 5px solid;
    border-color: rgb(102, 30, 30);
    border-radius: 50px;
}

#gameTitleText {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
    color: rgb(69, 12, 12);
    /* TODO: figure out what the hell any of this shadow means */
    text-shadow: -2px -2px gold, 0 0 1em rgb(250, 250, 250), 0 0 0em rgb(201, 186, 186);
}

button {
    background-color: transparent;
    border-style: hidden;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
    color: rgb(69, 12, 12);
    text-shadow: -2px -2px gold, 0 0 1em rgb(250, 250, 250), 0 0 0em rgb(201, 186, 186);
}
/*TODO: wow shocking it doesnt work even after resizing it very epic glad i
        spent time on this*/
body {
    cursor: url('../assets/images/aimEDIT.png'), pointer;
  }